
build/
vcpkg_installed/

wood_tile_01_BaseColor.png
C1A4F_W2A.png
cat_cigarette.jpg
include/mnist/mnist_reader_common.hpp
include/mnist/mnist_reader_less.hpp
include/mnist/mnist_reader.hpp
include/mnist/mnist_utils.hpp
Shaders/NeuralShading_Shaders/